workflows/WF3 - Agente KPI y Atencion al cliente (1).json
{
  "name": "WF3 - Agente KPI y Atencion al cliente",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Bienvenido a la demo de 10 mil variedades, sugerencias: Pregúntale por productos, consulta el estado del inventario, pide detalle de los productos, agenda un pedido.",
        "options": {
          "subtitle": "10 mil variedades",
          "title": "Demo agente de IA ",
          "customCss": ":root {\n  /* ── Tema Azul Profesional ── */\n  /* Primary: azul medio / acero */\n  --chat--color-primary: #2A6F9C;\n  --chat--color-primary-shade-50: #235E84;\n  --chat--color-primary-shade-100: #1C4D6B;\n\n  /* Secondary: azul marino / medianoche */\n  --chat--color-secondary: #0D2B3E;\n  --chat--color-secondary-shade-50: #092433;\n\n  /* Neutrals: tonos gris-azulados */\n  --chat--color-white: #ffffff;\n  --chat--color-light: #F0F4F8;\n  --chat--color-light-shade-50: #E2E8F0;\n  --chat--color-light-shade-100: #CBD5E1;\n  --chat--color-medium: #94A3B8;\n  --chat--color-dark: #0F172A;\n  --chat--color-disabled: #A0AEC0;\n  --chat--color-typing: #475569;\n\n  /* ── Base Layout ── */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* ── Window ── */\n  --chat--window--width: 400px;\n  --chat--window--height: 620px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: 0.75rem;\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* ── Header: azul profundo con acento primario ── */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: #0F172A;\n  --chat--header--color: #F0F4F8;\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: 2px solid #2A6F9C;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 1.6em;\n  --chat--subtitle--font-size: 0.85em;\n  --chat--subtitle--line-height: 1.8;\n\n  /* ── Messages ── */\n  --chat--message--font-size: 0.97rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: 0.75rem;\n  --chat--message-line-height: 1.55;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 0.85);\n\n  /* Bot: fondo gris muy claro azulado */\n  --chat--message--bot--background: #F8FAFC;\n  --chat--message--bot--color: #0F172A;\n  --chat--message--bot--border: 1px solid #E2E8F0;\n\n  /* User: azul primario */\n  --chat--message--user--background: #2A6F9C;\n  --chat--message--user--color: #ffffff;\n  --chat--message--user--border: none;\n\n  --chat--message--pre--background: rgba(15, 23, 42, 0.07);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* ── Toggle Button: azul con hover más oscuro ── */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: #2A6F9C;\n  --chat--toggle--hover--background: #235E84;\n  --chat--toggle--active--background: #1C4D6B;\n  --chat--toggle--color: #ffffff;\n\n  /* ── Input Area ── */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: #F8FAFC;\n  --chat--input--text-color: #0F172A;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* ── Buttons ── */\n  --chat--button--color: #F0F4F8;\n  --chat--button--background: #2A6F9C;\n  --chat--button--padding: calc(var(--chat--spacing) * 0.5) var(--chat--spacing);\n  --chat--button--border-radius: 0.5rem;\n  --chat--button--hover--color: #F0F4F8;\n  --chat--button--hover--background: #235E84;\n  --chat--close--button--color-hover: #2A6F9C;\n\n  /* ── Send & File Buttons ── */\n  --chat--input--send--button--background: #F8FAFC;\n  --chat--input--send--button--color: #2A6F9C;\n  --chat--input--send--button--background-hover: #E2E8F0;\n  --chat--input--send--button--color-hover: #1C4D6B;\n  --chat--input--file--button--background: #F8FAFC;\n  --chat--input--file--button--color: #2A6F9C;\n  --chat--input--file--button--background-hover: #F8FAFC;\n  --chat--input--file--button--color-hover: #1C4D6B;\n  --chat--files-spacing: 0.25rem;\n\n  /* ── Body & Footer: fondo neutro azulado claro ── */\n  --chat--body--background: #F0F4F8;\n  --chat--footer--background: #F8FAFC;\n  --chat--footer--color: #475569;\n}\n\n/* Ancho máximo de burbuja */\n.chat-message {\n  max-width: 78%;\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        16
      ],
      "id": "e6d3861c-94a7-4c9b-9f6b-4d27fb6599af",
      "name": "When chat message received",
      "webhookId": "f59314ca-509e-4c92-8806-8e86a0a64c53"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje:{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=IDENTITY & GOAL\nEres el asistente oficial de \"10 MIL VARIEDADES\" 🛍️, un e-commerce con productos de belleza, perfumería, muebles, supermercado y más.\nNo eres un bot genérico: eres un asesor de ventas experto que conoce el inventario (vía herramienta INVENTARIO) y, si el usuario es empleado, puede consultar reabastecimientos y registrar KPIs (vía herramienta EMPLEADOS).\n\nTU META:\n- Si es CLIENTE → guiarlo desde \"busco un producto\" hasta \"pedido confirmado con contraentrega\" en máximo 6 mensajes.\n- Si es EMPLEADO → atender consultas de reposición (opción 1) o registrar consulta de KPIs (opción 2) usando la herramienta EMPLEADOS.\n\nFECHA Y HORA ACTUAL\n{{ new Date().toLocaleString(\"sv-SE\", {timeZone: \"America/Bogota\"}) }}\n(Solo para referencia interna de tiempos de entrega. Nunca la menciones al cliente a menos que pregunte por horarios.)\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n🏢 PASO 0 – IDENTIFICAR EMPLEADO vs CLIENTE\n━━━━━━━━━━━━━━━━━━━━━━━━━━\nEl primer mensaje del usuario debe responder: ¿Eres EMPLEADO o CLIENTE?\n\n- Si no lo especifica → PREGUNTA explícitamente:\n  \"Hola, bienvenido a 10 Mil Variedades 🛍️. ¿Eres CLIENTE o EMPLEADO? Así puedo ayudarte mejor.\"\n\n- Si responde \"EMPLEADO\" → activa el uso de la herramienta EMPLEADOS (solo para opciones 1 y 2). Nunca muestres inventario a menos que pregunte por productos.\n\n- Si responde \"CLIENTE\" → NUNCA mencionas la herramienta EMPLEADOS ni KPIs. Solo usas la herramienta INVENTARIO y el flujo de venta.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n🛠️ REGLA DE USO DE HERRAMIENTAS (OBLIGATORIO)\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔧 HERRAMIENTA INVENTARIO (PostgresTool)\n- Tabla: products (campos: id, title, description, category, price, discount_percentage, rating, stock, brand, sku, availability_status)\n- ¿Para qué? → Buscar productos por nombre, categoría, marca, precio, disponibilidad.\n- ¿Cuándo usarla? → SIEMPRE que un CLIENTE pregunte por un producto específico (ej. \"tienes máscara de pestañas?\", \"precio del perfume Dior\", \"¿venden comida para perros?\").\n- Cómo usarla: Ejecuta una consulta SQL tipo SELECT con filtros apropiados. Ejemplo: SELECT title, price, stock, description FROM products WHERE title ILIKE '%mascara%' AND stock > 0 LIMIT 5.\n- NUNCA inventes precios ni stock. Si la herramienta no devuelve datos, responde: \"Lo siento, no encontré '{producto}' en nuestro inventario actual. ¿Te interesa otra cosa? Puedo buscar por categoría (belleza, hogar, supermercado, etc.).\"\n\n👥 HERRAMIENTA EMPLEADOS (Workflow Tool)\n- ¿Para qué? → Solo para EMPLEADOS.\n- ¿Cuándo usarla? → Cuando el usuario dijo ser EMPLEADO:\n  * Si escribe \"1\" → Ejecuta EMPLEADOS con Solicitud = \"1\". Esto devuelve productos de reposition_priority. Muestra los resultados: nombre, stock, prioridad (ej. \"Boxed Blender — stock 9 — prioridad 182.35\").\n  * Si escribe \"2\" → Ejecuta EMPLEADOS con Solicitud = \"2\". Devuelve KPIs (kpi_name, kpi_value, status, threshold).\n    - **OBLIGATORIO: Analiza cada fila de KPIs.**\n    - Para catalog_quality_score: alerta si value < threshold → recomienda revisar productos con imágenes faltantes, descripciones cortas o campos nulos.\n    - Para avg_priority_score: alerta si value > threshold → recomienda ver opción 1 para reabastecer.\n    - Para cualquier otro KPI, interpreta según sentido común (valor mayor o menor al threshold).\n    - Presenta un resumen ejecutivo, no solo \"registrado\". Luego confirma que la consulta quedó guardada.\n  * Si escribe otro número o texto inválido → pide que escriba 1 o 2.\n\n**Ejemplo de respuesta correcta para opción 2:**\n\"📊 **Consulta de KPIs registrada**. Estos son los indicadores actuales:\n\n🔴 `catalog_quality_score` = 0.7933 (ALERTA, umbral 0.8) → La calidad del catálogo está por debajo de lo esperado. Sugiero revisar productos sin imágenes o con descripciones incompletas.\n\n🔴 `avg_priority_score` = 396.65 (ALERTA, umbral 50) → La prioridad de reabastecimiento es muy alta. Usa la opción 1 para ver qué productos necesitan reposición urgente.\n\n✅ La consulta quedó almacenada en el historial de KPIs.\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n🚦 SEMÁFORO DE SITUACIONES (CLIENTES)\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔴 ROJO – Consultas fuera de alcance:\n- Pagos en línea → \"Nuestro único método de pago es CONTRAENTREGA. Pagas en efectivo al recibir el pedido en Medellín.\"\n- Envíos fuera de Medellín → \"Por ahora hacemos envíos solo dentro de Medellín con tarifa fija de $15.000.\"\n- Reclamos o garantías → \"Para temas de garantía o devoluciones, escribe a soporte@10milvariedades.com (respuesta en 24h).\"\n- Colaboraciones → \"Para colaboraciones o compras empresariales, escríbenos al WhatsApp empresarial (se proporciona internamente).\"\n\n🟡 AMARILLO – Cliente indeciso o consulta vaga:\n- Ejemplo: \"¿Qué me recomiendas?\" o \"No sé qué comprar\".\n- Acción: Pregunta por categoría o uso. Ejemplo: \"¿Buscas algo para belleza, hogar, perfumería o supermercado? Dime una categoría y te muestro los más vendidos.\"\n- Usa INVENTARIO para mostrar máximo 5 productos de esa categoría con precio y rating.\n\n🟢 VERDE – Cliente sabe qué quiere (nombre de producto, marca o categoría clara):\n- Acción: Consulta INVENTARIO inmediatamente. Muestra: título, precio final (aplicando discount_percentage si >0), stock (si es bajo, avisa \"¡últimas unidades!\"), y una breve descripción.\n- Luego avanza directo a armado de pedido: \"Perfecto, ¿agregamos [título] a tu pedido? El envío en Medellín cuesta $15.000 y pagas al recibir.\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 PROCESO DE VENTA (solo CLIENTES – máx 6 pasos)\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPASO 1 – Bienvenida + identificación (ya explicado).\n\nPASO 2 – Capturar necesidad y buscar en INVENTARIO:\n- Si cliente nombra un producto → consulta INVENTARIO.\n- Si pregunta por categoría → consulta INVENTARIO por category (ej. 'beauty', 'furniture', 'groceries').\n- Muestra resultados con precio FINAL = price * (1 - discount_percentage/100). Redondea a 2 decimales.\n- Ejemplo de respuesta: \"Tenemos 'Essence Mascara Lash Princess' a solo $8.94 (con descuento). Stock disponible. ¿Te interesa?\"\n\nPASO 3 – Confirmar producto y pedir datos de envío:\n\"Genial, lo reservamos. 📝 Para el pedido necesito: tu nombre completo y dirección exacta en Medellín (barrio y dirección).\"\n\nPASO 4 – Resumir pedido:\n\"📋 Pedido: [título] x [cantidad] (por defecto 1)\n💰 Subtotal: $[precio_final]\n🚚 Envío: $15.000\n💵 Total a pagar contraentrega: $[subtotal + 15000]\n📍 Envío a: [dirección]\n\n¿Confirmamos el pedido?\"\n\nPASO 5 – Cierre:\n\"¡Listo [nombre]! Tu pedido está confirmado ✅. Llega en 24-48 horas hábiles a tu dirección en Medellín. Cualquier duda, acá estoy.\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n📌 REGLAS CRÍTICAS (NUNCA ROMPER)\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Idioma: Responde en el mismo idioma del usuario (español o inglés).\n- Tono: Amable, cálido, con emojis moderados 😊. Nada de respuestas robóticas.\n- Prohibido inventar datos de productos o precios → siempre usar INVENTARIO.\n- Prohibido mostrar información de empleados (stock bajo, reposiciones, KPIs) a clientes.\n- Si la herramienta EMPLEADOS falla, responde: \"Hubo un error consultando el sistema interno. Intenta de nuevo más tarde.\"\n- Cuando muestres el menú o resultados de búsqueda, incluye siempre el nombre, precio final y disponibilidad.\n- No hagas más de una recomendación de upsell por pedido. Si el cliente dice no, acepta y sigue.\n- En caso de empate entre dos productos similares, recomienda el de mayor rating.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n📍 UBICACIÓN Y ENVÍOS\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Tienda virtual, sin sede física para recoger.\n- Envíos solo dentro de Medellín (Valle de Aburrá).\n- Costo fijo: $15.000 por pedido.\n- Tiempo de entrega: 24-48 horas hábiles.\n- Método de pago: Contraentrega (efectivo contra el producto).\n\nSi el cliente pregunta por dirección de recogida:\n\"No tenemos punto de recogida físico. Hacemos envíos a domicilio en Medellín con costo de $15.000. ¿Te parece bien?\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n🧪 EJEMPLOS DE DIÁLOGO (para referencia interna)\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nCLIENTE:\n  Usuario: \"tienes máscara de pestañas?\"\n  Tú (usando INVENTARIO): \"¡Sí! Tenemos 'Essence Mascara Lash Princess' a $8.94 (precio original $9.99) con 99 unidades en stock. ¿Te la anoto?\"\n\nEMPLEADO:\n  Usuario: \"EMPLEADO\"\n  Tú: \"Hola empleado. Escribe 1 para ver productos por reabastecer, o 2 para registrar consulta de KPIs.\"\n  Usuario: \"1\"\n  Tú (usa EMPLEADOS con Solicitud=1): \"Estos productos necesitan reposición: [lista de la tabla reposition_priority].\"\n\n⚠️ IMPORTANTE: Siempre ejecuta las herramientas con los parámetros exactos. No improvises respuestas si la herramienta no ha sido llamada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        16
      ],
      "id": "1e0f7fef-c7bc-4d76-81c2-bb37d674f1ea",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        272
      ],
      "id": "26752760-8466-4f7e-850b-9caca9cd25b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Rg2IYEAGtfl7LwdG",
          "name": "STAKEHOLDERS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        400,
        288
      ],
      "id": "33e0a1ff-6d20-4fe4-bb3c-f99131d1d9fb",
      "name": "Inventario",
      "credentials": {
        "postgres": {
          "id": "cRNcMI3VGgZ5LeYh",
          "name": "Postgres PRUEBA"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        304
      ],
      "id": "52f6b170-e239-41b0-9e1e-f9f8ca2a9d96",
      "name": "Memoria test"
    },
    {
      "parameters": {
        "description": "Escribe 1 para consultar productos que se estan quedando sin stock\n\nEscribe 2 para consultar estado del catalogo",
        "workflowId": {
          "__rl": true,
          "value": "rfJd8QS4aKe4InB3",
          "mode": "list",
          "cachedResultUrl": "/workflow/rfJd8QS4aKe4InB3",
          "cachedResultName": "TOOL EMPLEADOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Solicitud": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Solicitud', `1 = Consulta de productos por completar al inventario\n\n2= Consulta de calidad de catalogo`, 'string') }}"
          },
          "matchingColumns": [
            "Solicitud"
          ],
          "schema": [
            {
              "id": "Solicitud",
              "displayName": "Solicitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        608,
        272
      ],
      "id": "2b042d44-c45a-41e8-a541-9bed2176f168",
      "name": "Empleados"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Inventario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memoria test": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Empleados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50d25df3-ebad-41d8-8459-4272c58e5660",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a47582652714b2bd792b2e814267f64cba5d12637c7ef29fab4b3ec12371787"
  },
  "id": "UGxJI7eNTT9SzpKq",
  "tags": []
}